<?xml version="1.0"?>
<configuration>

  <appSettings>
    
    <!-- Must be changed to the folder location of the EXE of the server executable. -->
    <add key="SocketServerLocation" value="..\WebSocketServer\WebSocketServer\bin\Debug" />
    
    <!-- Name of the EXE, without '.exe' -->
    <add key="SocketServerName" value="WebSocketServer" />
    
    <!-- Name of the computer / host that the servers get run on. This gets sent to the client, and they connect via WebSockets using ws://<MachineName>/.  -->
    <add key="MachineName" value="localhost" />
    
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
